body {
  padding-top: 56px;
}

.app-container {
  position: relative;
  width: 100%;
}

.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #e2eecd;
  padding: 20px;
}

.nav a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

.page-container {
  padding: 20px;
}